@use '../../../pages/parameters.scss' as *;

.customCheckbox{
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #7E82994D;
  border-radius: 4px;
}

.customCheckbox:checked {
  background-color: $baseColor;
  border-color: $baseColor;
  background-image: url("../../../../public/img/Checked.png");
  background-repeat: no-repeat;
  background-position: center;
}