.Avatar {
  display: flex;
  font-size: 14px;
  font-weight: 900;
  background-color: #00C878;
  color: #FFFFFF;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
}