@use '../../pages/parameters.scss' as *;

.Overlay {
  cursor: unset;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.Form {
  z-index: 1000;
  align-self: anchor-center;
  justify-self: center;
  position: absolute;
  max-width: 440px;
  width: 100%;
  opacity: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px;
  border-radius: 12px;

  h1 {
    text-align: center;
    font-weight: 600;
    color: $txtColor;
    font-size: 32px;
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 16px;

    button {
      width: 100%;
      min-height: 49px;
      border: none;
      border-radius: 8px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      padding: 12px;
    }

    &__cancel {
      background-color: #1e1e1e;
    }

    &__add {
      background-color: $baseColor;
    }
  }
}