@use '../../parameters' as *;

.Clinic {
  width: 100%;

  &__name {
    justify-self: start;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 7.5px 12px;

    h2 {
      font-weight: 600;
      font-size: 13px;
      color: $txtColor;
    }
    p {
      font-weight: 400;
      font-size: 12px;
      color: $txtColor;
    }
  }

  tr:not(&__name) {
    td {
      text-align: center;
    }
  }

  button {
    border: none;
    background: transparent;
  }

}