.Calendar {
  position: relative;
  max-width: 246px;
  width: stretch;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 24px;

  &__title {
    text-align: start;
    font-weight: 400;
    color: #1E1E1E;
    font-size: 12px;
  }

  &__button {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
    justify-content: space-between;
    text-align: start;
    width: stretch;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #F9F9F9;
  }
}

.Modal {
  position: absolute;
  top: 82px;

}

.years {
  background: #1E1E1E1A;
  display: flex;
  height: 250px;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
}

.year {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 20%;
  color: Black;
}