@use '../parameters' as *;

.PacientPage {
  width: 100%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #FFFFFF;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;

    h1 {
      align-content: center;
      font-weight: 600;
      font-size: 32px;
      line-height: 100%;
    }

    .Search {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
    }
  }
}

.Table {
  width: 100%;

  thead {
    background-color: $bgColor;

    th {
      padding: 12px;
      color: $txtColor;
      font-weight: 600;
      font-size: 12px;
      opacity: 0.6;
      text-transform: uppercase;
      line-height: 12px;
    }
  }
}

.Footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: auto;
}

.SelectPanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 24px;
}

.Footer-box {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.Pagination-box {
  display: flex;
  align-items: center;  
  gap: 30px;
}

.Button {
  width: fit-content;
}