@use '../../pages/parameters.scss' as *;

.Footer {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 4px;
  background-color: $bgColor;

  &__button_error, &__button_good {
    opacity: 0.3;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 40px;
    height: min-content;
  }

  &__button_error {
    background-color: #1E1E1E;
  }

  &__button_good {
    opacity: 1;
    background-color: #00C878;
  }

  &__text, &__text_error, &__text_good {
    align-self: center;
    display: flex;
    gap: 4px;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #1E1E1E;
    font-weight: 400;
    font-size: 14px;
  }

  &__text {
    color: rgba(30, 30, 30, 0.7);

    &_last {
      color: #1E1E1E80;
    }

    &_error {
      color: rgba(227, 2, 6, 1);
    }

    &_good {
      color: rgba(0, 200, 120, 1);
    }
  }
}