@import '../../../pages/parameters';

.Search {
  display: flex;
  flex-direction: row;
  background-color: $bgColor;
  padding: 12px 16px;
  border-radius: 360px;
  justify-content: space-between;

  input {
    border: none;
    background: transparent;
    color: $txtColor;
    font-weight: 400;
    opacity: 0.6;
    outline: none;
  }

  button {
    border: none;
    background: transparent;
  }
}