@import "../../../pages/parameters.scss";

.Button {
  padding: 11px 40px;
  border: 1px $baseColor solid;
  background-color: $baseColor;
  border-radius: 8px;
  outline: none;
  height: max-content;
  width: 100%;
  cursor: pointer;
  transition: all .5s;
  font-size: 16px;
  font-weight: 500;

  &.gray {
   background-color: $bgColor;
   color: $txtColor;
   border: none;
  }
}

.Button:hover {
  background-color: #ffffff;
  color: $baseColor;
}
